.loading{
         display: flex;
         justify-content: center;  
}

.loadings,
.loadings div {
  box-sizing: border-box;
}
.loadings {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.loadings div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: currentColor;
  animation: loadings 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.loadings div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}
.loadings div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.loadings div:nth-child(3) {
  left: 56px;
  animation-delay: 0s;
  
}
@keyframes loadings {
  0% {
    top: 8px;
    height: 64px;
  }
  50%, 100% {
    top: 24px;
    height: 32px;
  }
}

.loadings{
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
}


/*  focus in input shearch   */

.div_input_focus{
      position: fixed;
      width: 89%;
      z-index: 999;
      left:76px

}

/* description in details */

.description{
    height: 120px;
    overflow: hidden;
    
    
}

.descriptionX{
     height:100%;
     overflow: visible;
}








